<ul>
  <% @support_requests.each do |support_request| %>
  <li>
    <h1>
      On <%= support_request.created_at.to_formatted_s(:long) %>
      <code><%= support_request.email %></code> writes:
    </h1>
    <p>
      <blockquote>
        <h2><%= support_request.subject %></h2>
            <%= support_request.body %>
      </blockquote>
    </p>

    <hr>

    <% if support_request.order %>
      <h3>Recent Order</h3>
      <dl>
        <dt>Name</dt>
        <dd><%= support_request.order.name %></dd>

        <dt>Email</dt>
        <dd><%= support_request.order.email %></dd>

        <dt>Address</dt>
        <dd><%= support_request.order.address %></dd>

        <dt>PayType</dt>
        <dd><%= support_request.order.pay_type %></dd>

        <dt>Line Items</dt>
        <dd>
          <ul>
            <% support_request.order.line_items.each do |line_item| %>
              <li>
                <%= line_item.product.title %>
                (<%= line_item.product.price %>)
              </li>
            <% end %>
          </ul>
        </dd>
      </dl>
    <% else %>
        <h3 class="notice">No associated recent order</h3>
    <% end %>

    <hr>
    <h4>All orders associated with this email</h4>
    <% @orders_all.each do |orders| %>
      <% if orders.email == support_request.email && orders.id != support_request.order_id %>
        <dl class="">
          <dt>Name</dt>
          <dd><%= orders.name %></dd>

          <dt>Email</dt>
          <dd><%= orders.email %></dd>

          <dt>Address</dt>
          <dd><%= orders.address %></dd>

          <dt>pay type</dt>
          <dd><%= orders.pay_type %></dd>
        </dl>

        <ul>
          <% orders.line_items.each do |line_items| %>
            <li>
              <%= line_items.product.title %>
              (<%= line_items.product.price %>)
            </li>
          <% end %>
        </ul>
      <% end %>
      <hr>
    <% end %>

    <% if support_request.response.blank? %>
      <%= form_with(model: support_request, local: true, class: "depot_form") do |form| %>
        <div class="field">
          <%= form.label :response, "Write Response" %>
          <%= form.rich_text_area :response, id: :support_request_response %>
        </div>
        <div class="actions">
          <%= form.submit "Send Response" %>
        </div>
      <% end %>
    <% else %>
        <h4>Our response:</h4>
        <p>
          <blockquote>
            <%= support_request.response %>
          </blockquote>
        </p>
    <% end %>

    <hr>

  </li>
  <% end %>
</ul>
