<div id="<%= dom_id cart %>">
  <h2 class="font-bold text-lg mb-3">Your Pragmatic Cart</h2>
  <ul class="list-none list-inside">
    <% cart.line_items.each do |item| %>
      <li><%= item.quantity %> &times; <%= item.product.title %></li>
      <%= image_tag(item.product.image_url, class: 'object-contain w-40 h-48 shadow mr-6') %>
      <%= number_to_currency(item.product.price)%>
    <% end %>
  </ul>
</div>
<div id="<%= dom_id cart %>">
  <% if action_name != "show" %>
    <%= link_to "Show this cart", cart, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this cart', edit_cart_path(cart), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
